{
    "includeAllByDefault": false,
    "includeGroup": {
        "aws": false,
        "braveBrowser": true,
        "checkov": false,
        "claudeCode": true,
        "dotnet": false,
        "direnv": true,
        "docker": false,
        "git": true,
        "googleChrome": false,
        "gpg": false,
        "intellijIdea": false,
        "java": false,
        "kubernetes": false,
        "microsoftTeams": false,
        "node": false,
        "postman": false,
        "rectangle": true,
        "ruby": false,
        "seleniumThings": false,
        "slack": false,
        "spotify": false,
        "terminal": true,
        "terraform": false,
        "tree": true,
        "visualStudioCode": true
    },
     "additionalCommands": {
         "pre": [
             "date"
         ],
         "post": [
             "pwd"
         ]
     }
}
