{
    "includeAllByDefault": true,
    "includeGroup": {
        "arduino": true,
        "asdf": true,
        "aws": XXXX,
        "braveBrowser": true,
        "checkov": true,
        "direnv": true,
        "docker": true,
        "git": true,
        "googleChrome": true,
        "gpg": true,
        "intellijIdea": true,
        "java": XXXX,
        "kubernetes": true,
        "microsoftTeams": true,
        "node": XXXX,
        "postman": true,
        "rectangle": true,
        "seleniumThings": true,
        "serverless": true,
        "slack": true,
        "spotify": true,
        "terminal": true,
        "terraform": XXXX,
        "tree": true,
        "visualStudioCode": true
    },
     "additionalCommands": {
         "pre": [
             "date"
         ],
         "post": [
             "pwd"
         ]
     }
}
